

@import 'custom-bootstrap.scss';
@import url('//assets-cdn.ziggeo.com/v1-stable/ziggeo.css');

.person-item {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}

.welcome-div {
	padding:12px;
}